<h1>About </h1>

<p> I am a student of The Hacking Project. </p>
<p>Find me in app/views/static_pages/about.html.erb</p>

<%= link_to 'about me', about_me_path %>

<%= link_to 'about my binome', about_mybinome_path %>